body {
    background-color: rgb(206, 187, 187);
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
}

img {
    border-radius: 100%;
}

.anchor span {
    color: black;
    text-align: center;
}

content {
    padding: 20px;
}

p {
    padding: 25px;
}

button {
    width: 100%;
}